<h1>EDIT PLACE - {{places.name}}</h1>
<form action="/places/{{data._id}}/edit" method="post" enctype="multipart/form-data">

  <label for="place name">Place name:</label>
  <input type="text" id="name" name="name" value="{{places.name}}" required>

  <label for="location">Location:</label>
  <input type="text" id="location" name="location" value="{{places.location}}" required>

  <label for="description">Description:</label>
  <textarea id="description" name="description" value="{{places.description}}" required></textarea>

  <label for="img">
    <input type="file" name="img" id="img" />
  </label>
  <button type="submit">EDIT</button>

  {{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>

<form action="/places/{{places._id}}/delete" method="post">
  <button type="submit">DELETE</button>
</form>