<div class="text-center"> <!-- Add text-center class to center content -->
    <h2 class="card-title">List of Places</h2>
</div>

<div class="card-deck mx-4">
  {{#each places}}
  <div class="card">
    <div class="ratio ratio-16x9">
      <img class="card-img-top img-fluid" src="{{img}}" alt="{{name}}">
    </div>
    <div class="card-body">
      <h5 class="card-title"><a href="/places/{{_id}}">{{name}}</a></h5>
      {{#each author}}
      <p class="card-text">Created by {{this.username}}</p>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>

{{!-- <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> --}}