{{#if userInSession}}


<div class="mt-3 mr-3"> 
  <form class="text-right" id="logout-form" action="/logout" method="POST">
      <button type="submit" class="btn btn-md" style="background-color: #045337c1; color: #f3f7f5; border-radius: 15px;">Logout</button>
  </form>
</div>
<div class="container h-100">
  <h2 class="mt-5">Hello, {{userInSession.username}}!</h2>

  <div class="row d-flex justify-content-center align-items-center h-100 ">
    <div class="col col-lg-9 col-xl-7">
      <div class="card">
        <div class="rounded-top text-white d-flex flex-row h-200" style="background-image: url('/images/signuphead.jpg'); background-size: cover;">
          <div class="ms-4 mt-5 d-flex flex-column ml-3" style="width: 150px;">
            <img src="{{userInSession.img}}" alt="My profile picture." class="img-fluid img-thumbnail mt-4 mb-2"
              style="width: 150px; z-index: 1">
          </div>
          <div style="background-color:rgba(255, 255, 255, 0.5)" class="h-50">
              <div class="ms-3 ml-3" style="margin-top: 130px;">
              <h5>{{userInSession.username}}</h5>
              <p>{{userInSession.country}}</p>
              </div>
          </div>
        </div>
        
        <div class="card-body p-4 text-black">
          <div class="mb-5 mt-5">
          </div>
        </div>
          
          <div class="row g-3">
            <div class="col mb-3">
              <a href="/places" class="font-italic mb-1 text-dark"><img src="./images/favouritespots.jpg"
                alt="image 1" class="w-100 rounded-3"></a>
            </div>
          </div>
          <div class="row g-3">
            <div class="col mb-3">
              <a href="/places/create" class="font-italic mb-1 text-dark"><img src="./images/createpinned.jpg"
                alt="image 1" class="w-100 rounded-3"></a>
            </div>
          </div>
          <div class="row g-3">
            <div class="col mb-3">
              <a href="/places/my-places/{{userInSession._id}}" class="font-italic mb-1 text-dark"><img src="./images/owncreations.jpg"
                alt="image 1" class="w-100 rounded-3"></a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

   
  

{{else}}
<div class="container vh-100"> 
    <div class="d-flex justify-content-center h-40 mt-5" >
        <div class="card text-black" style="border-radius: 25px; background-color: rgba(255, 255, 255, 0.5);">
            <div class="card-body">
                <form class="needs-validation" action="/login" method="POST">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" name="username">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="password" placeholder="********" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-lg" style="background-color: #045337c1; color: #f3f7f5; border-radius: 15px;">
                    </div>
                    
                    {{#if errorMessage}}
                    <p class="error mt-3">{{errorMessage}}</p>
                    {{/if}}
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?&nbsp;<a href="/signup"> Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

